/* Small Reset */
*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Design Element */
body {
  background-color: #f4f2ea;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Proxima Nova Regular");
}

h1 {
  font-size: 96px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 36px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
  }
}

h1 span {
  font-size: 96px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  color: #f28e13;
}

@media (max-width: 600px) {
  h1 span {
    text-align: center;
    font-size: 36px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
  }
}

@media (max-width: 600px) {
  h1 {
    text-align: center;
    font-size: 36px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
  }
}

h2 {
  font-size: 76px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

@media (max-width: 600px) {
  h2 {
    text-align: center;
    font-size: 36px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
  }
}

h3 {
  font-size: 36px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
  padding-top: 2rem;
}

h4 {
  font-size: 28px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 800;
}

@media (max-width: 600px) {
  h3 {
    text-align: center;
    font-size: 24px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 800;
  }
}

p {
  font-size: 24px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 300;
  padding-top: 2rem;
}

@media (max-width: 600px) {
  p {
    text-align: center;
    font-size: 18px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
  }
}

span {
  font-size: 36px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}

@media (max-width: 600px) {
  span {
    text-align: center;
    font-size: 28px;
    font-family: "Proxima Nova", sans-serif;
    font-weight: 400;
  }
}

.button {
  width: 294px;
  height: 45px;
  margin-top: 2rem;
  background: #f28e13;
  color: #ffff;
  border-radius: 20px;
  border: none;
  font-size: 24px;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
}

@media (max-width: 600px) {
  .button {
    width: 294px;
    height: 45px;
    margin-top: 2rem;
    background: #f28e13;
    color: #ffff;
    font-size: 18px;
    border-radius: 20px;
    border: none;
  }
}

/* Page */
.page {
  padding: 1rem;
  max-width: 90%;
  margin: 0 auto;
}
/* Nav */
.main-navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6rem;
}

.logo-mario {
  width: 157px;
  height: 78.5px;
}

.burger {
  width: 86px;
}
/* Info */
.info {
  display: flex;
  justify-content: center;
}

.bilder-column {
  padding-top: 10rem;
}

@media (max-width: 600px) {
  .bilder-column {
    gap: 1px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
  }
}

.webentwicklung {
  margin-top: 12rem;
  margin-bottom: 3rem;
}

.footer {
  background-color: black;
  background: black;
  color: white;
}

.footerinside {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding-top: 10rem;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .footerinside {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5rem;
    padding-top: 10rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .social-img {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

.copyright {
  margin-bottom: 1rem;
  text-align: justify;
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 600px) {
  .copyright {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 400;
  }
}

a {
  color: white;
  text-decoration: none;
}

.social-img {
  width: 262px;
  height: 262px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
